/* ! Base Style */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

h1 {
    color: ActiveBorder;
    font-size: 30px;
}

/* ! Header */

.header {
    background-color: Background;
    padding: 10px;
    text-decoration: none;
}

.button {
    text-decoration: none;
}

.idk1  {
    text-decoration: none;
}